body{
    margin:0;
    padding: 20px;

}

#color-display-rgba{
    margin: 20px auto;
    width: 500px;
    height: 500px;
    background-color: black;
}

#color-ranges-rgba{
    margin: auto;
    text-align: center;
}

label{
    font-family: "regular";
    font-size: 18px;
}

input[type=range]{
    width: 200px;
    margin-right: 10px;
}

#color-display-hsl{
    margin: 20px auto;
    width: 500px;
    height: 500px;
    background-color: black;
}

#color-ranges-hsl{
    margin: auto;
    text-align: center;
}